@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: black;
}

.container {
  margin: auto 50px;
  max-width: 1440px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */

header {
  margin: 0;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar inscription";
}

header img {
  grid-area: logo;
  height: 2.8rem;
}

nav {
  grid-area: navbar;
  display: flex;
  align-items: center;
}

.nav-lien {
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  border-top: 3px transparent solid;
}

.nav-lien:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.nav-lien:active {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.nav-inscription {
  grid-area: inscription;
  padding: 2rem;
  font-weight: 700;
  color: #0065fc;
}

.nav-inscription:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

/* MEDIA QUERY : Header */

@media screen and (max-width: 609px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . inscription" "navbar navbar navbar";
  }

  header img {
    order: 0;
  }

  .nav-inscription {
    order: 1;
  }

  nav {
    order: 2;
  }

  .nav-lien {
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
  }

  .nav-lien:hover {
    border-top: none;
    border-bottom-color: #0065fc;
  }

  .nav-inscription:hover {
    border-top: none;
  }
}

/* FIN MEDIA QUERY HEADER */

/* TITRE DE LA PAGE */

.titre-page h1 {
  font-size: 20px;
}

.titre-page p {
  margin-top: 0;
}

/* BOUTON-RECHERCHE */

.bouton-recherche {
  display: flex;
  margin-bottom: 30px;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 17px;
}

.ville {
  text-align: left;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 17px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-decoration: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.bouton-rechercher {
  background-color: #0065fc;
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 17px;
  font-weight: bold;
  outline: none;
  font-size: 1em;
}

.bouton-rechercher:hover {
  color: #0065fc;
  background-color: #deebff;
  cursor: pointer;
}

.fa-search {
  display: none;
}

/* MEDIA QUERY : BOUTON-RECHERCHER */
@media screen and (max-width: 609px) {
  .fa-map-marker-alt {
    font-size: large;
  }

  .ville {
    padding-right: 20px;
  }

  .bouton-rechercher {
    margin: 0;
    border-radius: 18px;
    position: absolute;
    margin-left: 240px;
    padding-bottom: 19px;
  }

  .bouton-rechercher span {
    display: none;
  }

  .bouton-rechercher .fa-search {
    display: contents;
    color: white;
    font-size: large;
  }
}

/* FILTRES */
.filtre {
  display: flex;
  flex-flow: row wrap;
}

.filtre h3 {
  margin-right: 2em;
}

.contenu-filtre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contenu-filtre button {
  display: flex;
  align-items: center;
  height: 2.813em;
  background: none;
  font-size: 1rem;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  border-left: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 0px 20px 0px 0px;
  margin-right: 1.438em;
  outline: none;
}

.icone {
  background-color: #deebff;
  padding: 0.813em;
  border-radius: 100%;
  color: #0065fc;
  margin-right: 0.75em;
  margin-left: -0.125em;
}

.contenu-filtre button:hover {
  background-color: #0065fc;
  color: white;
  border-color: #0065fc;
  border-left: none;
}

/* MEDIA QUERY : FILTRES */
@media screen and (max-width: 609px) {
  .contenu-filtre button {
    padding-right: 15px;
    margin-right: 0.8em;
    margin-top: 0.8em;
  }
}
