@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin: auto;
  color: black;
}

.container {
  margin: auto 50px;
  max-width: 1440px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */

header {
  margin: 0;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar inscription";
}

header img {
  grid-area: logo;
  height: 2.8rem;
}

nav {
  grid-area: navbar;
  display: flex;
  align-items: center;
}

.nav-lien {
  padding: 2rem;
  font-weight: 300;
  font-size: 0.938em;
  text-align: center;
  border-top: 3px transparent solid;
}

.nav-lien:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.nav-lien:active {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.nav-inscription {
  grid-area: inscription;
  padding: 2rem;
  font-weight: 600;
  color: #0065fc;
}

/* .nav-inscription:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
} */

/* MEDIA QUERY : Header */

@media screen and (max-width: 609px) {
  .container {
    margin: 0;
  }

  header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . inscription" "navbar navbar navbar";
  }

  header img {
    margin-left: 20px;
    order: 0;
  }

  .nav-inscription {
    order: 1;
  }

  nav {
    margin: 0 0 2.188em 0;
    order: 2;
  }

  .nav-lien {
    padding-top: 1.063em;
    padding-bottom: 0.813em;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
  }

  .nav-lien:hover {
    border-top: none;
    border-bottom-color: #0065fc;
  }

  .nav-inscription:hover {
    border-top: none;
  }
}

/* FIN MEDIA QUERY HEADER */

/* TITRE DE LA PAGE */

.titre-page h1 {
  font-size: 20px;
}

.titre-page p {
  margin-top: 0;
}

/* MEDIA QUERY : TITRE PAGE */

@media screen and (max-width: 609px) {
  .titre-page {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2.375em;
  }

  .titre-page h1 {
    margin-top: 0;
    font-size: 1.375em;
  }
}

@media screen and (min-width: 610px) and (max-width: 768px) {
  .titre-page {
    margin-bottom: 2.375em;
  }
}

/* MEDIA QUERY : TITRE PAGE */

/* BOUTON-RECHERCHE */

.bouton-recherche {
  display: flex;
  margin-bottom: 30px;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 17px;
}

.ville {
  text-align: left;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 17px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-decoration: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.bouton-rechercher {
  background-color: #0065fc;
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 17px;
  font-weight: bold;
  outline: none;
  font-size: 1em;
}

.bouton-rechercher:hover {
  color: #0065fc;
  background-color: #deebff;
  cursor: pointer;
}

.fa-search {
  display: none;
}

/* MEDIA QUERY : BOUTON-RECHERCHER */

@media screen and (max-width: 609px) {
  .bouton-recherche {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 35px;
  }

  .fa-map-marker-alt {
    font-size: large;
    padding: 0.938em;
  }

  .ville {
    padding-right: 70px;
  }

  .bouton-rechercher {
    margin: 0;
    border-radius: 18px;
    position: absolute;
    margin-left: 285px;
  }

  .bouton-rechercher span {
    display: none;
  }

  .bouton-rechercher .fa-search {
    display: contents;
    color: white;
    font-size: large;
    padding: 0.938em;
  }
}

@media screen and (min-width: 610px) and (max-width: 768px) {
  .bouton-recherche {
    margin-bottom: 35px;
  }
}

/* FIN MEDIA QUERY : BOUTON-RECHERCHER */

/* FILTRES */
.filtre {
  display: flex;
  flex-flow: row wrap;
}

.filtre h3 {
  margin-right: 2em;
}

.contenu-filtre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contenu-filtre button {
  display: flex;
  align-items: center;
  height: 2.813em;
  background: none;
  font-size: 1rem;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
  border-left: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 0px 20px 0px 0px;
  margin-right: 1.438em;
  outline: none;
}

.icone {
  background-color: #deebff;
  padding: 0.813em;
  border-radius: 100%;
  color: #0065fc;
  margin-right: 0.75em;
  margin-left: -0.125em;
}

.contenu-filtre button:hover {
  background-color: #0065fc;
  color: white;
  border-color: #0065fc;
  border-left: none;
}

/* MEDIA QUERIES : FILTRES */

@media screen and (max-width: 609px) {
  .filtre {
    margin-left: 20px;
    margin-right: 20px;
  }

  .filtre h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-weight: 600;
  }

  .contenu-filtre button {
    padding-right: 15px;
    margin-right: 0.8em;
    margin-top: 0.8em;
  }
}

@media screen and (min-width: 610px) and (max-width: 768px) {
  .contenu-filtre button {
    margin-right: 0.8em;
    margin-top: 0.8em;
  }

  .filtre h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-weight: 600;
  }
}

@media screen and (min-width: 769px) and (max-width: 909px) {
  .contenu-filtre button {
    margin-right: 0.8em;
    margin-top: 0.8em;
  }
}

/* FIN MEDIA QUERIES : FILTRES */

/* NOMBRE HEBERGEMENTS DISPONIBLES */

.info-dispo {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  font-size: 0.9em;
  text-align: center;
  size: small;
  padding-top: 15px;
}

.fa-info {
  padding: 0.625em;
  color: #0065fc;
  background-color: none;
  border: 1px solid #f2f2f2;
  border-radius: 3.125em;
  text-align: center;
  margin-right: 0.75em;
  font-size: 0.625em;
  width: 0.625em;
  line-height: 0.625em;
}

/* MEDIA QUERY : INFO-DISPO */

@media screen and (max-width: 609px) {
  .info-dispo {
    margin-left: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .fa-info {
    margin-top: 1em;
    font-size: 0.938em;
  }

  .info-dispo p {
    font-size: 1.125em;
    text-align: start;
  }
}

/* FIN DE MEDIA QUERY : INFO-DISPO */

/* HÉBERGEMENTS */

#hebergements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

#hebergements h3 {
  font-size: 22px;
  margin-left: 40px;
}

.contenant-hebergement {
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 0;
  margin-right: 20px;
}

.contenu-hebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: auto 40px;
}

.carte-hebergement {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px rgba(212, 212, 212, 0.65);
  margin: 15px 0px 20px 0px;
  height: 200px;
  width: 245px;
}

.contenu-carte-hebergement {
  padding: 5px 5px 10px 5px;
}

.contenu-carte-hebergement img {
  width: 236px;
  height: 115px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.texte-contenu-carte-hebergement {
  padding-left: 12px;
}

.texte-contenu-carte-hebergement h4 {
  margin: 0;
}

.texte-contenu-carte-hebergement p {
  margin: 6px 0;
  font-size: 0.9em;
}

.etoiles {
  color: #0065fc;
  font-size: x-small;
}

.plus {
  font-weight: 700;
  font-size: 1.15em;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-top: 17px;
}

/* POPULAIRE */

#populaire {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 0;
}

#populaire h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
}

.fa-chart-line {
  margin-left: 90px;
}

.contenu-populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 20px;
}

.carte-populaire {
  background-color: white;
  border-radius: 20px;
  height: 145px;
  width: 345px;
  margin-bottom: 30px;
  margin-inline: auto;
}

.contenu-carte-populaire {
  display: flex;
  padding: 5px;
}

.carte-3 img {
  width: 125px;
}

.contenu-carte-populaire img {
  width: 125px;
  height: 135px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.texte-contenu-carte-populaire {
  padding-left: 16px;
  padding-top: 15px;
  padding-right: 50px;
  margin-inline: auto;
  width: 100%;
}

.texte-contenu-carte-populaire h4 {
  margin: 0;
}

.texte-contenu-carte-populaire p {
  font-size: 0.9em;
  margin: 6px 0 32px 0;
}

/* MEDIA QUERY Mobile : HEBERGEMENTS */
@media screen and (min-width: 376px) and (max-width: 499px) {
  #populaire h3 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

  #hebergements {
    margin: 0;
    flex-direction: column-reverse;
  }

  /* POPULAIRE */

  #populaire {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  #populaire h3 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 0px;
  }

  .fa-chart-line {
    margin-left: 0;
    padding-left: 100px;
  }

  .contenu-populaire {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .carte-populaire {
    width: 100%;
    margin-bottom: 0.625em;
  }

  .contenu-carte-populaire {
    width: 100%;
    margin-inline: auto;
  }

  .contenant-image-populaire {
    width: 125px;
  }

  .contenu-image-populaire img {
    width: 100%;
  }

  .texte-contenu-carte-populaire {
    width: 100%;
    padding-right: 10px;
  }

  .texte-contenu-carte-populaire h4 {
    font-size: 1.1em;
  }

  .texte-contenu-carte-populaire p {
    font-size: 14px;
  }

  /* HÉBERGEMENTS */

  #hebergements h3 {
    margin-left: 20px;
  }

  .contenant-hebergement {
    width: 100%;
    background-color: transparent;
    margin: 0;
    padding-bottom: 0;
    height: auto;
    margin-bottom: 20px;
  }

  .contenu-hebergement {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .carte-hebergement {
    margin: 0.563em 0;
    width: 100%;
  }

  .contenu-carte-hebergement img {
    width: 100%;
    height: 115px;
  }

  .plus {
    margin-left: 20px;
    padding-left: 0;
  }
}

@media screen and (min-width: 501px) and (max-width: 609px) {
  #hebergements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contenant-hebergement {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .carte-hebergement {
    width: 100%;
  }

  .contenu-carte-hebergement img {
    width: 100%;
  }

  #populaire {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #populaire h3 {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .carte-populaire {
    width: 100%;
  }
}

@media screen and (min-width: 610px) and (max-width: 768px) {
  #hebergements {
    flex-direction: column;
  }

  .contenant-hebergement {
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .carte-hebergement {
    width: 100%;
  }

  .contenu-carte-hebergement img {
    width: 100%;
  }

  #populaire {
    width: 100%;
  }

  #populaire h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
  }

  .contenant-populaire {
    width: 100%;
    margin-left: 80px;
    margin-right: 80px;
  }

  .contenu-populaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .carte-populaire {
    width: 100%;
  }

  .contenu-carte-populaire {
    width: 100%;
  }

  .texte-contenu-carte-populaire {
    margin: 0px;
    padding-right: 10px;
  }

  .texte-contenu-carte-populaire h4 {
    font-size: 18px;
  }

  .texte-contenu-carte-populaire p {
    font-size: 18px;
  }

  .fa-star {
    font-size: small;
  }
}

@media screen and (min-width: 769px) and (max-width: 1275px) {
  #hebergements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contenant-hebergement {
    width: 100%;
    margin-bottom: 20px;
  }

  .carte-hebergement {
    width: 30%;
  }

  .contenu-carte-hebergement img {
    width: 100%;
  }

  /* POPULAIRE */

  #populaire {
    width: 100%;
  }

  #populaire h3 {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contenu-populaire {
    margin-inline: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .carte-populaire {
    width: 47%;
  }

  .texte-contenu-carte-populaire {
    padding-right: 10px;
  }

  .texte-contenu-carte-populaire p {
    margin-bottom: 6px;
  }
}

@media screen and (min-width: 1276px) and (max-width: 1364px) {
  .carte-hebergement {
    width: 45%;
  }

  .contenu-carte-hebergement img {
    width: 100%;
  }

  #populaire h3 {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* FIN DES MEDIA QUERIES DE LA SECTION HEBERGEMENTS */

/* SECTION ACTIVITÉS */

#activites {
  width: 100%;
}

.contenu-activites {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 40px;
  height: 445px;
}

.carte-activites {
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px rgba(212, 212, 212, 0.65);
  width: 300px;
}

.carte-activites img {
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.carte-activites h4 {
  padding-left: 17px;
  padding-bottom: 17px;
  padding-top: 17px;
  margin: 0;
}

.lien-activites-1 img {
  height: 390px;
}

.lien-activites-2 img {
  height: 180px;
}
.lien-activites-3 img {
  height: 110px;
}

.lien-activites-4 img {
  height: 390px;
}

.lien-activites-5 img {
  height: 140px;
}

.lien-activites-6 img {
  height: 154px;
}

.contenu-activites a:hover {
  color: #0065fc;
}

/* MEDIA QUERY : ACTIVITES */

@media screen and (max-width: 609px) {
  #activites h3 {
    margin-left: 20px;
  }

  .contenu-activites {
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    height: auto;
  }

  .carte-activites {
    border-radius: 20px;
    box-shadow: 0px 0px 7px 0px rgba(212, 212, 212, 0.65);
    width: 100%;
    margin-top: 20px;
  }

  .lien-activites img {
    height: 136px;
  }
}

@media screen and (min-width: 610px) and (max-width: 690px) {
  .contenu-activites {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .carte-activites {
    border-radius: 20px;
    box-shadow: 0px 0px 7px 0px rgba(212, 212, 212, 0.65);
    width: 100%;
    margin-top: 20px;
  }

  .lien-activites img {
    height: 192px;
  }
}

@media screen and (min-width: 691px) and (max-width: 768px) {
  .contenu-activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-inline: auto;
    height: auto;
  }

  .carte-activites {
    width: 270px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .carte-activites img {
    width: 100%;
    height: 200px;
  }
}

@media screen and (min-width: 769px) and (max-width: 810px) {
  .contenu-activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .lien-activites {
    width: 300px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .lien-activites img {
    width: 100%;
    height: 200px;
  }

  .carte-activites {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 811px) and (max-width: 900px) {
  .contenu-activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .lien-activites {
    width: 350px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .lien-activites img {
    width: 100%;
    height: 200px;
  }

  .carte-activites {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 901px) and (max-width: 970px) {
  .contenu-activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .lien-activites {
    width: 375px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .lien-activites img {
    width: 100%;
    height: 200px;
  }

  .carte-activites {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 971px) and (max-width: 1040px) {
  .contenu-activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .lien-activites {
    width: 420px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .lien-activites img {
    width: 100%;
    height: 200px;
  }

  .carte-activites {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1041px) and (max-width: 1170px) {
  .contenu-activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .lien-activites {
    width: 450px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .lien-activites img {
    width: 100%;
    height: 200px;
  }

  .carte-activites {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1171px) and (max-width: 1275px) {
  .contenu-activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .lien-activites {
    width: 350px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .lien-activites img {
    width: 100%;
    height: 200px;
  }

  .carte-activites {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1276px) and (max-width: 1364px) {
  .contenu-activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height: 445px;
  }

  .lien-activites {
    width: 280px;
  }

  .lien-activites img {
    width: 100%;
  }

  .carte-activites {
    width: 100%;
  }
}

/* FIN MEDIA QUERIES : ACTIVITES */

/* FOOTER */

footer {
  width: 100%;
  background-color: #f2f2f2;
}

.contenu-footer {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
}

.texte-contenu-footer {
  margin-right: 230px;
  padding-bottom: 30px;
}

.texte-contenu-footer h3 {
  padding: 45px 0 10px 0;
}

.texte-contenu-footer ul {
  list-style: none;
  padding: 0;
}

.texte-contenu-footer ul li {
  font-size: 1.05em;
  padding: 5px 0;
}

.texte-contenu-footer ul li a:hover {
  color: #0065fc;
}

/* MEDIA QUERIES : FOOTER */

@media screen and (max-width: 609px) {
  .contenu-footer {
    flex-direction: column;
    margin-left: 20px;
  }

  .texte-contenu-footer {
    margin-right: 0;
    padding-bottom: 10px;
  }

  .texte-contenu-footer h3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-1 h3 {
    margin-top: 40px;
  }
}

@media screen and (min-width: 610px) and (max-width: 1331px) {
  .texte-contenu-footer {
    margin-right: 150px;
    padding-bottom: 10px;
  }

  .texte-contenu-footer h3 {
    padding: 15px 0 0px 0;
  }

  .footer-1 {
    margin-right: 90px;
  }
}

/* FIN MEDIA QUERIES : FOOTER */
